<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" style="cursor: default">
    <ul class="list-group mb-4">
        <li class="list-group-item active d-flex justify-content-between align-items-center"
            entity_id="{{ domain }}.all" count_all="{{ count_all }}">
            {{ name }}
            <span class="badge badge-pill">
                <i class="material-icons toggle" style="cursor: pointer"
                   onclick="selector('{{ domain }}.all', '{{ pk }}')">
                    {{ toogle_block }}
                </i>
            </span>
        </li>
        {% for device in devices %}
            <li class="list-group-item d-flex justify-content-between align-items-center block {{ domain }}"
                entity_id="{{ device.getEntityId }}">
                <span class="badge badge-pill">
                    {% if device.state == 'on' %}
                        <i class="material-icons flash" style="color: rgb(253, 216, 53);"> {{ flash }} </i>
                    {% else %}
                        <i class="material-icons flash"> {{ flash }} </i>
                    {% endif %}
                </span>
                <span style="font-size: 22px; cursor: pointer" onclick="infoDevice('{{ device.getEntityId }}', '{{ pk }}')">
                    {{ device.name }}
                </span>
                <span class="badge badge-pill">
                    <i class="material-icons toggle" style="cursor: pointer"
                       onclick="selector('{{ device.getEntityId }}', '{{ pk }}')">
                        {% if device.state == 'on' %}
                            toggle_on
                        {% else %}
                            toggle_off
                        {% endif %}
                    </i>
                </span>
            </li>
        {% endfor %}
    </ul>
</div>