{% extends 'application.html' %}
{% block title %}Изменение пароля{% endblock %}
{% block content %}
    <div class="fullscreen__container" style="flex: 1; display: flex; justify-content: center; align-items: center">
        <div class="container">
            <div class="jumbotron">
                <h2 class="text-center mb-3">Изменение пароля</h2>
                <form method="post" id="form" onsubmit="call()">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group row">
                            <label for="{{ field.id_for_label }}"
                                   class="col-12 col-sm-12 col-md-3 col-lg-4 col-xl-3 col-form-label">{{ field.label }}</label>
                            <div class="col col-sm col-md col-lg col-xl">
                                {{ field }}
                                {% if field.help_text %}
                                    <small class="form-text text-muted">{{ field.help_text }}</small>
                                {% endif %}
                                {% for error in field.errors %}
                                    <small class="text-danger">{{ error }}</small>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Изменить</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}