{% extends 'application.html' %}
{% block title %}Введите новый пароль{% endblock %}
{% block content %}
    <div class="fullscreen__container" style="flex: 1; display: flex; justify-content: center; align-items: center">
        <div class="container">
            <div class="jumbotron">
                <h2 class="text-center">Введите новый пароль</h2>
                <small class="text-muted">Пожалуйста, введите новый пароль дважды, чтобы мы могли убедиться в
                    правильности написания.
                </small>
                <form method="post" id="form" onsubmit="call()">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group row">
                            <label for="{{ field.id_for_label }}"
                                   class="col-sm-2 col-form-label">{{ field.label }}</label>
                            <div class="col-sm-10">
                                {{ field }}
                                {% if field.help_text %}
                                    <small class="form-text text-muted">{{ field.help_text }}</small>
                                {% endif %}
                                {% for error in field.errors %}
                                    <small class="text-danger">{{ error }}</small>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Изменить мой пароль</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}